{% extends 'fpga/base.html' %}
{% load static %}
{% block title %}Контакты{% endblock %}

{% block content %}
<div class="container">
    <h1 class="zagolovok-page">Контакты</h1>
    <p align="justify" class="main-card-text">Мы объединяем студентов, интересующихся программированием, организуя различные виды мероприятия, формальные и
        непринужденные, в течение всего года. Кроме того, мы стремимся создавать интересный и актуальный контент для
        студентов в наших социальных сетях. Присоединяйтесь к нашему каналу в
        <a href="https://t.me/InnoChipDesign">Telegram <i class="bi bi-telegram"></i></a>
    </p>
    <p align="justify" class="main-card-text">Если есть вопросы и предложения, пишите нам: <span><b>m.kuskov@innopolis.university</b></span></p>
</div>
{% endblock %}