body {
    background-color: #f1f1e8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 !important;
}
header {
    background-color: #206a5d;
}

main {
    flex: 1;
}
/*стили для лого и названия сайта*/
.headImg {
    border-radius: 5%;
    width: 110px;
    height: 105px;
    border: 0px solid rgb(26, 60, 64);
    margin-top: 20px;
    
}
/*стили для фото на главной странице*/
.img-main {
    width: 500px;
    }

.zagolovok {
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: Lucida Sans Unicode, Verdana, sans-serif;
}
/*стили для меню сайта*/
.navmenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #206a5d !important;
    font-size: 18px;
    font-family: Lucida Sans Unicode, Verdana, sans-serif;

    }
/*стили для основной информации главной страницы*/
.main-card {
    background-color: #f1f1e8;
    border-color: #f1f1e8 !important;
}
hr {
    color: #3c5446;
}
.main-card-title {
    font-size: 40px;
    font-weight: bold;
    font-family: Lucida Sans Unicode, Verdana, sans-serif;
    color: #132e23;
}
.main-card-text {
    font-size: 22px;
    font-family: Lucida Sans Unicode, Verdana, sans-serif;
    color: #132e23;
}
/*стили для footer*/
.footstyle {
    background-color: #206a5d !important;
    color: #bfdcae;

}
.navmenufooter {
    color: #bfdcae;
    font-family: Lucida Sans Unicode, Verdana, sans-serif;
    font-size: 18px;
}
.zagolovok-page {
    font-size: 40px;
    color: #3c5446;
    font-family: Lucida Sans Unicode, Verdana, sans-serif;
    }
.main-list {
    font-size: 22px;
    color: #132e23;
    font-family: Lucida Sans Unicode, Verdana, sans-serif;

}
.project-img {
    width: 380px;
    }

/* стили для текста карточек*/
.card-text {
    color: #132e23 !important;
    font-size: 18px;
    font-family: Lucida Sans Unicode, Verdana, sans-serif;
}
/* стили для ссылок*/
a {
    text-decoration: none;
}
.project-link {
    color: #132e23;
    font-size: 18px;
    font-family: Lucida Sans Unicode, Verdana, sans-serif;
}
/* стили для детального представления проекта*/
.bg-projectdetail {
    background-color: #bfdcae;
    border: 0px solid #bfdcae;

}

/* стили для кнопок*/
.btn-info {
    background-color: #206a5d !important;
    color: white !important;
    }
/*стиль для кнопок пагинации */
.pagination .page-item.active .page-link {
    background-color: #206a5d !important;
    color: white !important;
    border-color: #206a5d !important;
}

.photo-wrap {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100%;
}

.item-photo {
    width: 50%;

.card-item-photo {
    background-color: #f1f1e8;
    border-color: #f1f1e8 !important;
}
.item-img {
    width: 500px;
}

@media (max-width:500px) {
    .zagolovok {
        font-size: 30px;
    }
    .headImg {
        width: 90px;
        height: 85px;

    }
    .zagolovok-page {
        font-size: 30px;
    }
    .main-card-title {
        font-size: 30px;
    }
    .main-card-text {
        font-size: 20px;
    }
    .main-list {
        font-size: 20px;
    }
    .item-photo {
        width: 100%;
    }
}